* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#contact_modal {
    display: none;
}

.main_about {
   /* background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    position: relative;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px;
    margin-top: 20px;
    background-color: #FAFAFA;


}
.page{
margin: 0 100px;
/*padding: 30px 20px 20px;*/
max-width: 1400px;
}

.logo {
    width: 200px;
    height: 50px;
    top: 43px;
    left: 100px;
    gap: 0px;
    opacity: 0px;

}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translateX(-50%);
}
.send-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    left: 50%;
    top: 50%;

}
.modal-close-btn {
    position: absolute;
    right: 0;
    top: 15px;
}
header {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 ;
    height: 50px;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photographer_thumbnail {
    /* height: 226px;
     width: auto;*/
    position: relative;
    left: 0px;
    top: -9px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    

}

.photograph-header .photographer_card {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    align-self: center;
  /*  position: absolute;*/
    right: 50px;
}

.photographer_profile__infos h2 {
    font-size: clamp(2.5rem, 3.2vw, 3.2rem);
    font-weight: 400;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: left;
    color: #D3573C;
   /* position: absolute;*/
    top: 71px;
    left: 50px;
}

.photographer_profile__infos h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #901C1C;
   /* position: absolute;*/
    left: 50px;
    top: 154px;
}

.photographer_profile__infos p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #525252;
  /*  position: absolute;*/
    left: 50px;
    top: 204px;
}



@media screen and (max-width: 800px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        height: 90px;
        margin-top: 20px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}
/* MAIN */
/*main{
    padding: 0 120px;
}
*/


.btn_cta:hover,
.btn_cta:focus {
    background-color: white;
    color: black;
}

.photographer_profile__infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photographer_thumbnail{
    width: 200px;
    height: 200px;
}

/* MAIN CONTENT */

/* MODAL FORM */
.modal_form {
    position: relative;
    border-radius: 5px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    opacity: 0;
    transform: translateY(-150px);
    animation: fadeIn .3s ease-in-out forwards;
}

.modal_form_title{
    width: 100%;
    font-size: clamp(2rem, 3vw, 4rem);
}

.modal_form_title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: clamp(2rem, 3vw, 4rem);
}

.btn_close:hover::before{
    color: var(--color-primary);
}
.btn_close:focus:not(:hover)::before{
    outline: 2px solid var(--color-primary);
}

.btn_close::before{
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    padding: 5px;
    border-radius: 5px;
    font-weight: 900;
    color: var(--color-light);
    font-size: clamp(2rem, 3vw, 3rem);
}

.modal_form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_content label {
    color: var(--color-label);
    font-size: clamp(1.8rem, 2vw, 2rem);
}

.form_content input {
    height: 50px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
}

.form_content textarea {
    border-radius: 5px;
    height: 150px;
    resize: none;
    padding: 10px;
}

.form_content span{
    color: var(--color-dark);
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
}

.form_content input:invalid:focus,
.form_content textarea:invalid:focus {
    outline: 2px solid var(--color-primary);
} 

.btn_submit{
    max-width: 150px;
}

.btn_submit:hover,
.btn_submit:focus {
    outline: 2px solid var(--color-light);
}

.btn_like {
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 8px;
    bottom: 5px;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    padding: 4px;
    position: absolute;
    right: 55px;
    width: 30px;
}
.btn_like path {
    fill: transparent;
    stroke-width: 6px;
    stroke: #000;
    transition: .4s;
}

.btn_like.liked path  {
    fill: tomato;
    stroke: #fff;
}

.gallery_card {
    
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60PX;
}
.gallery_thumbnail {
    width: 100%;
    height: 300px;
    min-height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;

}
figcaption {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #901C1C;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}