*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
a{
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
}

button {
    background-color: transparent;
}



img,
video {
    object-fit: cover;
    object-position: center;
}

li{
    list-style-type: none;
}
.btn{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 15px;
    height: 50px;
    background-color: #901C1C;
    border-radius: 5px;
}

#contact_modal {
    display: none;
}

.main_about {
    /* background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    position: relative;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px;
    margin-top: 20px;
    background-color: #FAFAFA;


}
/*
.main_content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}*/
.page {
    margin: 0 100px;
    /*padding: 30px 20px 20px;*/
    max-width: 1400px;
}

.logo {
    width: 200px;
    height: 50px;
    top: 43px;
    left: 100px;
    gap: 0px;
    opacity: 0px;

}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 69px;
    border: none;
    background-color:#fff;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translateX(-50%);
}


.btn_cta:hover,
.btn_cta:focus {
    background-color: #DB8876;
    color: black;
}
.send-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    left: 50%;
    top: 50%;

}

.modal-close-btn {
    position: absolute;
    right: 0;
    top: 15px;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 50px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photographer_thumbnail {
    /* height: 226px;
     width: auto;*/
    position: relative;
    left: 0px;
    top: -9px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;


}

.photograph-header .photographer_card {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    align-self: center;
    /*  position: absolute;*/
    right: 50px;
}

.photographer_profile__infos h2 {
    font-size: clamp(2.5rem, 3.2vw, 3.2rem);
    font-weight: 400;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: left;
    color: #D3573C;
    /* position: absolute;*/
    top: 71px;
    left: 50px;
}

.photographer_profile__infos h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #901C1C;
    /* position: absolute;*/
    left: 50px;
    top: 154px;
}

.photographer_profile__infos p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #525252;
    /*  position: absolute;*/
    left: 50px;
    top: 204px;
}




.photographer_profile__infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photographer_thumbnail {
    width: 200px;
    height: 200px;
}

/* MAIN CONTENT */

/* MODAL FORM */
/*
.modal_form {
    position: relative;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    opacity: 0;
    transform: translateY(-150px);
    animation: fadeIn .3s ease-in-out forwards;
    max-height: 900px;
   height: 100%;
}
*/
.modal_form {
    position: fixed;
    /*top: 10%;
    left: 30%; */
    transform: translate(-50%, -50%) translateY(-150px);
    width: 669px;
    max-height: 900px; /* Ajustez la hauteur en fonction de vos besoins */
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    opacity: 0;
    animation: fadeIn .3s ease-in-out forwards;
    overflow-y: auto;
}



.modal_form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_content label {
    color: #312E2E;
    
    font-family: DM Sans;
font-size: 36px;
font-weight: 400;
line-height: 46.87px;
text-align: left;

}

.form_content input {
    height: 50px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
}

.form_content textarea {
    border-radius: 5px;
    height: 150px;
    resize: none;
    padding: 10px;
    width: 100%;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;

}

.form_content span {
    color: black;
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
}

.form_content input:invalid:focus,
.form_content textarea:invalid:focus {
    outline: 2px solid #901C1C;
}

.btn_submit {
    max-width: 150px;

}



/* GALLERIES */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60PX;
}

.gallery_thumbnail {
    width: 100%;
    height: 300px;
    min-height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;

}

figcaption {

    letter-spacing: 0em;
    text-align: left;
    color: #901C1C;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}

figcaption h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    Font: DM Sans;

}

.nbLike {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.25px;
    text-align: right;

}

/* Style général pour les boutons de like */
/* Style lorsque le bouton est survolé */
.btn_like:hover {
    color: #DB8876;
}

/* Style lorsque le bouton est cliqué */
.btn_like:active {
    transform: scale(1.2);
}

/* Style pour l'icône de cœur */
.btn_like .fa-heart {
    margin-left: 5px;
}

.btn_like {
    
    border: none;
    padding: 0 1px;
    font-size: clamp(1.8rem, 2vw, 2.2rem);
    color: #901C1C;
    background-color: transparent
}

.btn_like:focus-visible:not(:hover) {
    outline: 2px solid #DB8876;
}

.liked {
    color: BLACK;
}
/*TOTAL LIKE*/
aside{
    position: sticky;
    bottom: 0;
    left: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
    width: fit-content;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: clamp(1.6rem, 2vw, 2rem);
    background-color:   #DB8876;
}






/* MAIN */



.photographer_profile__infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



/* MAIN CONTENT */

/* MODAL FORM */
.wrapper {
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_form_title{
    width: 100%;
    font-size: 64px;;
}

.modal_form_title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-family: DM Sans;
font-size: 64px;
font-weight: 400;
line-height: 83.33px;
text-align: left;

    
}

.btn_close:hover::before{
    color: #901C1C;
}
.btn_close:focus:not(:hover)::before{
    outline: 2px solid #901C1C;
}

.btn_close::before{
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    padding: 5px;
    border-radius: 5px;
    font-weight: 900;
    color: #fff;
    font-size: clamp(2rem, 3vw, 3rem);
}




.btn_submit{
    max-width: 150px;
}

.btn_submit:hover,
.btn_submit:focus {
    outline: 2px solid #fff;
}

/* MEDIA FILTER */

.main_content_filter {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    margin: 20px 0 40px 0;
}


.filter_section{
    position: relative;
    height: 100%;
}

.dropdown {
    z-index: 10;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
}

.rotate{
    transform: rotate(180deg);
}

.dropdown_content {
    max-height: 0;
    background-color: #901C1C;
    transition: max-height .1s ease-in-out;
}

.dropdown_content li {
    position: relative;
    width: 150px;
}

.dropdown_content li::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 1px;
    background-color: #fff;
}

.btn_drop,
.dropdown_content li button{
    height: 50px;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    /* line-height:700;*/

}


.btn_drop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #901C1C;
    width: 170px;
   height: 69px;
   gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;

}

.dropdown_content li button {
    width: 100%;
    text-align: left;
}

.dropdown_content li button:hover,  .btn_drop:hover {
    background-color:#DB8876;
    color: black;
}

.curtain_effect {
    max-height: 100px;
}
.dropdown_content li button:focus, .btn_drop:focus {
    background-color:#DB8876;
    color: black;

}
.dropdown_content li {
    color: black;
}

/* MEDIA GALLERY */
.main_content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.gallery{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 60px;
}

.gallery_card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.animeCard{
    animation: fade .2s ease-in-out;
}



.gallery_card a{
    border-radius: 5px;
    overflow: hidden;
}

.gallery_card a figure{
    height: 260px;
    transition: all .2s ease-in-out;
}

.gallery_card a:hover figure{
    transform: scale(1.05);
}

.gallery_card a:focus:not(:hover){
    outline: 2px solid #DB8876;
}

.gallery_thumbnail{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    will-change: transform;
}

.gallery_card figcaption{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.gallery_card figcaption h2{
    font-weight: 100;
    color: #901C1C;
    font-size: clamp(1.8rem, 2vw, 2.2rem);
}

.gallery_card figcaption div{ 
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #901C1C;
    font-size: clamp(1.8rem, 2vw, 2.2rem);
}

.btn_like{
    border-radius: 5px;
    padding: 0 1px;
    font-size: clamp(1.8rem, 2vw, 2.2rem);
    color:#D5373c;
}

.btn_like:focus-visible:not(:hover){
    outline: 2px solid #DB8876;
}

.liked{
    color: #901C1C;
}

/* Daily box */
aside{
    position: sticky;
    bottom: 0;
    left: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
    width: fit-content;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: clamp(1.6rem, 2vw, 2rem);
    background-color:#DB8876;
}

/* Lightbox */
.lightbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   max-width: 1242px;
    height: 100%;
   max-height: 900px;
    background-color: #fff;
   padding: 20PX 25PX;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(-150px);
    animation: fadeIn .3s ease-in-out forwards;
    
gap: 0px;
opacity: 0px;

}

.lightbox_media{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.lightbox_media figcaption{
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
    font-size: 24px;
    color: #901C1C;
}

.lightbox_media img,
.lightbox_media video{
   /* width: 100%;
    height: calc(100% - 50px);
    max-width: 1050px;
max-height: 900px;
/*left: 96px;
gap: 0px;
opacity: 0px;
object-fit:fill;*/
max-width: 1050px;
            max-height: 790px;
            width: auto;
            height: auto;
            object-fit:fill;

}

.lightbox_media video:focus{
    outline: 2px solid #901C1C;
}

.btn_close_lightbox{
    z-index: 100;
    position: absolute;
    top: 25px;
    right: 15px; 
}

.btn_close_lightbox::before{
    font-size: clamp(3rem, 6vw, 5rem);
    color: #901C1C;
}

.btn_previous,
.btn_next{
    z-index: 100;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    transform: translateY(-50%);
    padding: 5px;
}

.btn_next{
    right: 15px;
}

.btn_previous{
    left: 15px;
}

.btn_next::before,
.btn_previous::before{
    font-family:  "Font Awesome 5 Free";
    font-weight: 900;   
    font-size: clamp(3rem, 6vw, 5rem);
    color: #901C1C;
}

.btn_next::before{
    content: "\f054";
}

.btn_previous::before{
    content: "\f053";
}

.btn_previous:focus-visible:not(:hover),
.btn_next:focus-visible:not(:hover){
    outline: 2px solid #901C1C;
}

.btn_previous:hover::before,   
.btn_next:hover::before,
.btn_close_lightbox:hover::before{
    color:#DB8876;
}

.invalid{
    outline: 2px solid #901C1C;
}

.valid{
    outline: 2px solid green;
}

.btn_next.active::before,
.btn_previous.active::before,
.btn_close_lightbox.active::before{
    color:#DB8876;
}

/* ANIMATION */

@keyframes fade{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }   
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media screen and (max-width: 1110px) {
    header{
        padding: 0 20px;
    }
    main{
        padding: 0 20px;
    }
    .main_about{
        justify-content: space-around;
        padding: 20px;
    }
}

@media screen and (max-width: 725px) {
    .btn_cta{
        z-index: 10;
        position: absolute;
        top: 30px;
        right: 40px;
    } 

    .modal_form{
        padding: 10px;
        gap: 5px;
        max-height: 100%;
        overflow: auto;
    }

    .modal_form form{
        gap: 5px;
    }

    .form_content input{
        height: 40px;
    }

    .form_content textarea{
        height: 80px;
    }

    .lightbox{
        padding: 10px 10px 0;
    }

    .btn_close_lightbox{
        top: 10px;
        right: 10px;
    }

    .lightbox_media figcaption{
        height: 30px;
    }

    .lightbox_media img,
    .lightbox_media video{
        height: calc(100% - 30px);
    }

    .btn_next::before,
    .btn_previous::before,
    .btn_close_lightbox::before{
        color: #fff;
        -webkit-text-stroke: .5px #000; 
    }
}

@media screen and (max-width: 570px) {
    header{
        padding: 0;
    }
    .photographer_profile__infos{
        gap: 2px;
    }
    .btn_cta{
        right: 20px;
    } 
    main{
        padding: 0;
    }
}

@media screen and (max-width: 445px) {
    .page{
        padding: 10px;
    }
    .main_about{
        justify-content: space-between;
        padding: 10px;
    }
    .main_content{
        gap: 20px;
        margin-top: 20px;
    }
    .gallery{
        gap: 20px;
    }
    .btn_cta{
        top: 10px;
        right: 10px;
    } 
}
